<p>
<h1>Photo</h1>
<%= image_tag @post.image_url, size: 500%></br>
<%= @user.name %> </br>
<%= @post.title %> </br> 
<%= @post.body %> </br>
<%= Like.where(post_id: @post.id).count %>
<% if current_user.present?%>
    <% if (Like.where(user_id: current_user.id, post_id: @post.id).take == nil) %>
        <%= link_to("Like", likes_path(post_id: @post.id), method: :post) %>
    <%else%>
        <%= link_to("UnLike", like_path(post_id: @post.id), method: :delete) %>
    <%end%>
<%end%>
<%= link_to("Likes", likes_path(post_id: @post.id)) %> </br>
<%= link_to("Feed", feed_posts_path) %>
<%= link_to("Other posts of the user", user_posts_path(@user))%>
</p>

<h2> All comments </h2>

<tbody>
    <% @post.comments.each do |comment| %>
        <tr>
        </br>
        <td><%= comment.username %></td> : </br>
        <td><%= comment.body %></td> </br>
        <% if current_user.present? && current_user.name == comment.username %>
        <%= link_to("Delete comment", post_comment_path(post_id: @post.id, comment_id: comment.id), method: :delete) %>
        <%end%>
        </tr>
    <%end%>
</tbody>

<% if user_signed_in? %>
    <%= form_for([@post, @post.comments.build]) do |form|%>

        Пользователь.
        <%= current_user.name %> </br> 
        Текст комментария.
        <div class="field">
            <%= form.text_area(:body, {:class => 'form-control'}) %>
        </div>

        <div class="actions">
            <%= form.submit %>
        </div>
    <% end %>
<% end %>